# Пример файла переменных окружения .env

# Инструкция к применению:
# В директории проекта скопировать файл .env.example в файл .env
# cp .env.example .env
# И внести необходимые изменения в файл .env
# Файл .env внести в .gitignore

# Общие локальные переменные окружения:
# Название мультиконтейнерного приложения
APP_NAME=miftahov-multidocker

# Локальные переменные окружения для мультиплексного web-сервера nginx
# Номер сетевого порта протокола транспортного уровня
WEBSERVER_PORT=80
